.new-btn-restpassword .btn-background {
    background-color: #CBB264;
    padding: 0.31rem;
}
.new-btn-restpassword {
  margin-top: 1.25rem;
}

.right-section-Newpassword {
  max-width: 10%;
  position: relative;
}
.right-section-Newpassword .new-section {
    max-width: 25rem;
}
.Resetpassword-div {
    background-color: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:  1.5rem;
    position: absolute;
    right: 12rem;
    padding-top:1.25rem; 
    padding-bottom: 4.35rem;
    z-index: 1;
    max-width: 26rem;
}

.eye-confirm {
  position: absolute;
  right: 0.625rem; 
  top: 55%;
  transform: translateY(-50%); 
  cursor: pointer; 
  width:  1.03rem;
  height: 1.03rem;
}

.input-newpassword {
    margin-bottom: 1.25rem;
}

.eye-password {
    right: 0.54rem;
    position: absolute;
    top:2.3rem;
    
}

.input-confirmpassword {
    margin-bottom: 1.25rem;
}

.icon-44 {
   left: 4rem;
   top: 4rem;
}
.icon-55 {
    top: -1.2rem;
    left: 18rem;
}

.icon-66 {
     top: 16.5rem;
    left: 24rem;
}

.icon-rest {
  top:-60%;
  position: absolute;
}
.Resetpassword-div .icon55 {
  top: 18rem;
}



@media  (max-width:1290px) {
 .right-section-Newpassword {
  right: 0px;
 }

  .right-section-Newpassword .new-section {
    max-width: 20rem;
}

   .Resetpassword-div {
    right: 10rem;
   }
   .icon-rest{
    display: none;
   }
 

.Resetpassword-div{
    max-height: 30rem;
}


.icon-55 {
  left: 15rem;
}

.icon-66 {
    left: 20rem;
    top: 13rem;
}
.icon-44 {
  top: 1rem;
}
.eye-password {
    right: 0.42rem;
    position: absolute;
    top:1.88rem;
    
}
}



@media  (max-width:1050px) {

.circle {
  left: 30%; 
  top: 120%;
  transform: translate(-50%, -50%);
  width: 220vw; 
}

}


@media  (max-width:880px) {
.circle {
  left: 30%; 
  top: 120%;
  transform: translate(-50%, -50%);
  width: 220vw; 
}


 .icon-44, .icon-55,.icon-66 {
  display: none;
 }

 .right-section-Newpassword {
  right: -4rem;
 }

  .right-section-Newpassword .new-section {
    max-width: 19rem;
}

   .Resetpassword-div {
    right:120px;
   }
}




@media (max-width: 750px) {
  .circle {
    left: 30%; 
    top: 130%;
    transform: translate(-50%, -50%);
    width: 220vw;
  }
  .Resetpassword-div {
    width: 100%; 
    margin:0 auto;
    right: 0px;
    min-width: 100%;
        
  }

  .right-section-Newpassword {
    left: -6rem;
 }

  .right-section-Newpassword .new-section {
    max-width: 350px;
}

   .Resetpassword-div {
    right:0px;
   }
   .heading-content-Restpassword p  {
    max-width: 70% ;
  }
}

  


@media (max-width: 500px) {
 
.circle{
    left: 30%; 
    top: 130%;
    transform: translate(-50%, -50%);
    width: 260vw;
}



.right-section-Newpassword .new-section {
    max-width: 220px;
}


}