.btn-background {
  background-color: #008AAB;
}

.input-rest-success::placeholder {
    color: #525252;
}

.succses-auth {
  max-width: 525px;
  height: 90px;
  position: absolute;
  top: -100px;
  left: 240px;
}

.icon-23{
  left: -280px;
  top: 30px;
}

.icon-24{
  left: 20px;
  top: 30px;
}

.icon-25{
  left: 50px;
 top: 320px;
}

.Newpassword-div {
    background-color: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:  1.5rem;
    position: absolute;
    right: 120px;
    padding-top:20px; 
    padding-bottom: 70px;
    z-index: 1;
    max-width: 540px;
}

.rola {
  max-width: 100px;
}

.rola-image {
  max-width: 210px;
}
.rola-image .image-restpassword {
  width: 500px;
}



 @media  (max-width:1290px) {
  
  
  .Newpassword-div {
    right: 210px;
   }

 .icon-23 {
  left: -140px;
 }

  .icon-25 {
  left: 150px;
 }
.icon-24 {
  left: 120px;
 }




.succses-auth {
  max-width: 400px;
  max-height: 80px;
}

.right-section-Newpassword  {
  max-width: 20%;
}

} 



 @media  (max-width:1050px) {


.succses-auth {
  margin: auto;
  max-width: auto;
  left: 10rem;
}

} 







@media  (max-width:880px) {


 .Newpassword-div{
    max-width: 80%;
    margin: auto;
    right: 7rem;
 }
  .icon-23, .icon-24, .icon-25 {
   display: none;
  }
  .succses-auth {
    left:-10px;
    top: -5.4rem;
  }
} 

@media (max-width: 750px) {
 
 .right-section-Newpassword {
  right: 240px;
 }
 .succses-auth {
  width: 140px;
  top: -5.4rem;
 }
  .Newpassword-div {
    width: 100%; 
    margin:0 auto;
    right: 0px;
    min-width: 100%;
        
  }
} 

  
@media (max-width: 600px) {
 


  .Newpassword-div {
    width: 100%; 
    margin:0 auto;
    right: 0px;
    min-width: 100%;
        
  }
  .succses-auth {
    top:-4.4rem;
  }
} 

  


 @media (max-width: 500px) {

 .right-section-Newpassword {
    left:-40px;
  }
  .right-section-Newpassword .image-restpassword {
    max-width: 450px;
  }
 

.eye-confirm {
    max-width: 1rem;
    max-height: 1rem;
    right: 12px;
}

 
  .right-section-Newpassword {
    right: 300px;
  }
  .succses-auth {
    top: -4.80rem;
    left:70px;
    max-width: 100px;
    max-height: 70px;
  }
  
 
} 