.login-btn {
    text-align: center;
    background-color: #008AAB;
    margin-top: 10px;
    border-radius: 0.75rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.btn-login {
    color: white;
    font-size:  16px;
    background-color: #008AAB;
    border: none;
    text-align: center;
    align-items: center;
    padding: 12px ;
    cursor: pointer;

}

@media (max-width:1290px) {
    .btn-login {
    padding: 12px;
}
}

@media (max-width:500px) {
    .btn-login {
    padding: 9px;
    font-size: 0.72rem;
}
}
